{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<div class="container-fluid">
	<div class="row"> <div class="col-xs-12 col-sm-6 col-md-8">

	<button class="btn btn btn-default" data-toggle="modal" data-target="#addType">
		<span class="glyphicon glyphicon-plus"></span> Тип
	</button>

	<button class="btn btn btn-default" data-toggle="modal" data-target="#addOptions">
		<span class="glyphicon glyphicon-plus"></span> Редактировать опции
	</button>
    
    <button class="btn btn btn-default" data-toggle="modal" data-target="#addDict">
		<span class="glyphicon glyphicon-plus"></span> Справочник
	</button> 
 
	<button class="btn btn btn-default" data-toggle="modal" data-target="#addUser">
		<span class="glyphicon glyphicon-plus"></span> Пользователь
	</button> 
    
    <!-- Modal addDict -->
<div class="modal fade" id="addDict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление нового типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="adddictform" action="{{ url_for('new_dict') }}" method="post">
				    <input type="text" class="form-control" placeholder="Введите имя справочника" name="name" autocomplete="off" /> <br>
                    <div id="dictline"></div>
				</form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" id="adddictlineBtn"> Добавить поле </button>
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('adddictform').submit();">Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->


    <!-- Modal addType -->
<div class="modal fade" id="addType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление нового типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addtypeform" action="{{ url_for('new_type') }}" method="post">
				    <input type="text" class="form-control" placeholder="Введите новый тип" name="name" autocomplete="off" /> <br>
				</form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addtypeform').submit();">Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->
    
    
    <!-- Modal edit addOptions -->
<div class="modal fade" id="addOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование и добавление опций</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addOptionsForm" action="{{ url_for('new_option') }}" method="post">
                    <select class="form-control" id="type_id" name="type_id">
						<option disabled>Тип</option>
                    </select><br>
                    <div id="inputNewOption">
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" id="addbtn"> Добавить поле </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addOptionsForm').submit();"> Сохранить</button>
        
      </div>
    </div>
  </div>
</div>
</div>
    <!-- Modal addoptions -->
    
    
        <!-- Modal addUser -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить новую опцию у типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addUserForm" action="{{ url_for('new_user') }}" method="post">
                    <input type="text" class="form-control" placeholder="Введите login" name="login" autocomplete="off" /> 
                    <input type="text" class="form-control" placeholder="Введите ФИО" name="full_name" autocomplete="off" /> 
                    <input type="email" class="form-control" placeholder="Введите e-mail" name="email" autocomplete="off" /> 
                    <input type="password" class="form-control" placeholder="Введите пароль" name="password" autocomplete="off" />
                    <button type="submit"  class="btn hide" />
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addUserForm').submit();"> Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addUser -->

	<!-- Modal edit optionss -->
<div class="modal fade" id="editoptionss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование свойств опций</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="editoptionsForm" class="form-horizontal span8" action="{{ url_for('edit_option') }}" method="post">
                    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Вид поля</div>
							<select class="form-control" id="changeOptType" name="opttype">
							<option disabled>Вид поля</option>
							<option value="dict">Dict</option>
							<option value="date">Date</option>
							<option value="input">Input</option>
							<option value="login">Login</option>
							</select>
						</div>
					</div>
					
					<div id="selecttypediv"></div> <!-- Рисуем динамические поля -->
                    <div id="editoptionstype"></div>
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('editoptionsForm').submit();"> Сохранить</button>
      </div>
    </div>
  </div>
</div>
</div>
     <!-- Modal edit optionss-->


  </div>
</div>

<script>// Добавление справочника
$(function() { 
		var iditer=1; // Итератор для нового newid
	$('#adddictlineBtn').click(function() {
	$('#dictline').append('<div><input type="text" class="form-control" name="newid'+iditer+'" placeholder="Введите новое значение" required="" autocomplete="off" /></div>')
		iditer=iditer+1;
	});
	});
</script>


<script> //окно редактирования и добавления опций
$('#addOptions').on('show.bs.modal.bs.modal', function (e) {
$(function(){
 $.getJSON('{{ url_for('get_list_type') }}', function(data) {
  for (var i in data) {
    $('#type_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
      };  
        });
            });

$('#type_id').change(function(){                                //подгрузка опций для типа
	var sellectedtype = $('#type_id option:selected').val();  // если выбран тип (изменён), то подгружаем нужные опции
		$( "#inputNewOption" ).empty();                                 //очищаем контейнер от предыдущих объектов
	$(function(){                                           //сама функция подгрузки опций
	$.getJSON('{{ url_for('get_list_option') }}?type='+sellectedtype+'', function(data) {
	for (var i in data) {
		$('#inputNewOption').append('<div><input type="text" class="form-control" name="id' + data[i].id + '" placeholder="' + data[i].name + '" value="' + data[i].name + '" required=""/></div>');
		};   }); });  }); //Конец функции выбора типа


$(function() { //добавить поле ввода
    var iditer=1; // Итератор id для нового newid
    $('#addbtn').click(function() {
    $('#inputNewOption').append('<div><input type="text" class="form-control" name="newid'+iditer+'" placeholder="Введите новую опцию" required="" autocomplete="off" /></div>')
    iditer=iditer+1;
    });
    });
    });
</script>

<script> //edit option view
$('#editoptionss').on('show.bs.modal.bs.modal', function (e) {
   
   $('#editoptionss').on('hidden.bs.modal', function (e) {
  $( "#selecttypediv" ).empty();
  $( "#editoptionstype" ).empty();
 // очищаем DOM дерево предыдущих полей ввода -->
});


    var c_name; <!-- Временные переменные -->
    var c_type_id;
    var c_description;
    var c_optdict;
    var c_user_visible;
    var c_front_page;
    var c_required;
    var c_dict_id;
	//var c_id; id опции
    var select_visible;
    var select_frontpage; <!-- Временные переменные -->
    

    $(function(){
                $.getJSON('{{ url_for('get_list_option') }}?&opt_id='+c_id+'', function(obji) {
                for ( var i in obji) { jQuery.each(obji[i], function(key, val) {
            if  (key == "name" ) { c_name = val }; // имя
            if  (key == "type_id" ) { c_type_id = val }; // id типа
            if  (key == "description" ) { c_description = val}; // описание опции
            if  (key == "opttype" ) { c_opttype = val};  // Вид опции. dict, date, inputtext, email, note
            if  (key == "user_visible" ) { c_user_visible = val}; //видно пользователю?
            if  (key == "front_page" ) { c_front_page = val}; // показывать на главной? 
			if  (key == "required" ) { c_required = val}; // обязательное поле?
            if  (key == "dict_id" ) { c_dict_id = val}; //id справочника
			});
    $("#selecttypediv").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Название</div><input type="text" class="form-control" id="'+c_type_id+'" name="name"  placeholder="'+c_name+'" value="'+c_name+'" required=""></div><div class="input-group"><div class="input-group-addon">Описание</div><input type="text" class="form-control" id="description" name="description" value="'+c_description+'" required=""></div>'); //name=name, description=description.
    if (c_opttype == undefined) { // если в типе ничего не пришло то ...
		c_opttype = "input"; // присвоить тип как Input
		$("#changeOptType").val(c_opttype); // выбрать в меню input
	} else { $("#changeOptType").val(c_opttype); }; //или если 
	
    if (c_opttype == "dict") {
        $("#editoptionstype").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dict_list_id" name="dict_id"><option disabled>Справочник</option></select>'); //name=dict_id, 
        $(function(){
            $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
            var i = -1;
            $.each(data, function(id, name) { 
                i=i+1;
                $('#dict_list_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                });  
                });
            
                });
       };

        $('#changeOptType').change(function(){  //выбор вида опции
        $( "#editoptionstype" ).empty(); //чистим контейнер
        var sellectedtype = $('#changeOptType option:selected').val();  // если изменили вид опции то ...
        
        if (sellectedtype == "dict") {
            $("#editoptionstype").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dict_list_id" name="dict_id"><option disabled>Справочник</option></select>');
            $(function(){
                $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
                var i = -1;
                $.each(data, function(id, name) { 
                    i=i+1;
                    $('#dict_list_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    });  
                    });
                    //$("#dict_list_id").val(c_dict_id);
                    });
                    };
            $("#editoptionstype").append('<div><input type="hidden" name="id" value='+c_id+'></div>');
       
        });
    
    
    
    };
	$("#editoptionstype").append('<div><input type="hidden" name="id" value='+c_id+'></div>');
    });
    });
    
   });         
</script>



 
<br>
<!-- отрисовываем табличку-->
<div class="container-fluid">
    <div class="row">
    <div class="col-md-10">

    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Типы ресурсов</h3></caption>    
    <tr class="active">
    {% for cols_name in type_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in type_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
        
            <td><a class="glyphicon glyphicon-remove" href="/del_type/{{ entry.id }}"></a></td>
            <td>
            <form action="{{ url_for('import_csv', type_id=entry.id ) }}" method=post enctype=multipart/form-data>
              <input type="file" name="file">
              <button class="glyphicon glyphicon-upload" type="submit" value="Загрузить"> CSV</button>
              <i><b>формат CSV</b>: Unix Format, UTF-8, разделитель ","</i>
            </form>
            <td><a class="glyphicon glyphicon-open" href="{{ url_for('export_csv', typename=entry.name) }}"  target="_blank"> Экспорт данных</a></td>
            <td><a class="glyphicon glyphicon-fire" href="{{ url_for('clear_type', id=entry.id) }}"></a><span class="badge pull-right">{{ type_count[entry.id] }}</span></td></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>

<br>
    
    
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Опции типов</h3></caption>
    <tr class="active">
    {% for cols_name in option_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in option_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
            
            
            <td><a class="glyphicon glyphicon-remove" href="/del_option/{{ entry.id }}"></a></td>
            <td><a class="glyphicon glyphicon-wrench" onClick="edit_option_view({{ entry.id }})" href="#"></a></td></td>
            <td><a class="glyphicon glyphicon-fire" href="{{ url_for('clear_option', id=entry.id) }}"></a><span class="badge pull-right">{{ opt_count[entry.id] }}</span></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    
<br>

    
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Справочники</h3></caption>
    <tr class="active">
    {% for cols_name in dict_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in dict_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
        
            <td><a class="glyphicon glyphicon-remove" href="{{ url_for('del_dict', id=entry.val_id) }}"></a></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    
<br>
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Пользователи</h3></caption>
    <tr class="active">
    {% for cols_name in user_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in user_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="/del_user/{{ entry.id }}"></a></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    
    
        </div>
    </div>
</div>
<!-- отрисовываем табличку-->


</body>
  {% endif %}
{% endblock %}