{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<div class="container-fluid">
	<div class="row"> <div class="col-xs-12 col-sm-6 col-md-8">

	<button class="btn btn btn-default" data-toggle="modal" data-target="#addType">
		<span class="glyphicon glyphicon-plus"></span> Тип
	</button>

	<button class="btn btn btn-default"  onClick="edit_option_view('new')">
		<span class="glyphicon glyphicon-plus"></span> Добавить опцию
	</button>
    
    <button class="btn btn btn-default" data-toggle="modal" data-target="#addDict">
		<span class="glyphicon glyphicon-plus"></span> Справочник
	</button> 
 
	<button class="btn btn btn-default" data-toggle="modal" data-target="#addUser">
		<span class="glyphicon glyphicon-plus"></span> Пользователь
	</button> 
    
    <button class="btn btn btn-default" data-toggle="modal" data-target="#editType">
		<span class="glyphicon glyphicon-plus"></span> тип редактировать
	</button>
    
    <!-- Modal addDict -->
<div class="modal fade" id="addDict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление нового типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="adddictform" action="{{ url_for('new_dict') }}" method="post">
				    <input type="text" class="form-control" placeholder="Введите имя справочника" id="enterdictname" name="name" autocomplete="off" /> <br>
                    <div id="dictllist"></div>
                    <div id="dictfields"></div>
				</form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" id="adddictlineBtn"> Добавить поле </button>
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('adddictform').submit();">Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->
    
    <!-- Modal edittype -->
<div class="modal " id="editType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="edittypeForm" action="{{ url_for('edit_type') }}" method="post">
				<div id="typelistfields"></div>
                <div id="divwf"></div>
                </form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('edittypeForm').submit();">Добавить и сохранить</button>
		
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->

    <script>// редактировать тип
$('#editType').on('hidden.bs.modal', function (e) {
$("#typelistfields").empty();
$("#divwf").empty();
 });

 var wf_val;
$('#editType').on('show.bs.modal', function (e) {
$(function(){
                
                $.getJSON('{{ url_for('get_list_type') }}'+clicked_type_id+'', function(data) {
                
                
                $("#typelistfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Имя</div><input type="text" class="form-control" id="description" name="name" value="'+data[0].name+'" required=""></div>');
                $("#typelistfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Описание</div><input type="text" class="form-control" id="description" name="desc" value="'+data[0].desc+'" required=""></div>');
                wf_val = data[0].workflow;
          });
          $("#divwf").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">WorkFlow</div><select class="form-control" id="workflow" name="workflow"><option>None</option></select></div>');
          $.getJSON('{{ url_for('get_list_wf') }}', function(data) {
                for ( var i in data) {
                $('#workflow').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
          }
          $('#workflow').val(wf_val);
          });
          
          $("#typelistfields").append('<input class="hidden" name="id" value="'+clicked_type_id+'">');
          });
          }); //endchange
</script>
    
    
    
<script>// Добавление справочника
$('#addDict').on('hidden.bs.modal', function (e) {
$("#dictfields").empty();
$("#dictllist").empty();
 });
    
$('#addDict').on('show.bs.modal', function (e) {
$(function(){   
                $("#dictllist").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dicts" name="dicts"><option>None</option></select></div>');
                $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
                for ( var i in data) { 
                $("#dicts").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                $("#dicts").val(data[i].name);
                }
          });
          $('#dicts').change(function(){ 
          $("#dictfields").empty();
          var dictidsellected = $('#dicts option:selected').val();
          $("#enterdictname").val($('#dicts option:selected').text());
          $.getJSON('{{ url_for('get_list_dict') }}?dict_id='+dictidsellected+'', function(data) {
                for ( var i in data) { 
                $("#dictfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Название</div><input type="text" class="form-control" id="description" name="id'+data[i].val_id+'" value="'+data[i].value+'" required=""></div>');
                }
          });
          }); //endchange

$(function() { //Добавить новое поле
	$('#adddictlineBtn').click(function() {
	$('#dictfields').append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Название</div><input type="text" class="form-control" id="description" name="new" value="" required=""></div>')
	});
	});
    
    });
    });
</script>


    <!-- Modal addType -->
<div class="modal " id="addType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление нового типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addtypeform" action="{{ url_for('new_type') }}" method="post">
				    <input type="text" class="form-control" placeholder="Введите новый тип" name="name" autocomplete="off" />
				<div id="selectoption"></div>
				<div id="availableloption"></div>
                </form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-default" id="addoptiontotypebtn" >Добавить опцию к типу</button>
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addtypeform').submit();">Добавить и сохранить</button>
		
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->
    

    
    
        <!-- Modal addUser -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить новую опцию у типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addUserForm" action="{{ url_for('new_user') }}" method="post">
                    <input type="text" class="form-control" placeholder="Введите login" name="login" autocomplete="off" /> 
                    <input type="text" class="form-control" placeholder="Введите ФИО" name="full_name" autocomplete="off" /> 
                    <input type="email" class="form-control" placeholder="Введите e-mail" name="email" autocomplete="off" /> 
                    <input type="password" class="form-control" placeholder="Введите пароль" name="password" autocomplete="off" />
                    <button type="submit"  class="btn hide" />
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addUserForm').submit();"> Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addUser -->

	<!-- Modal edit optionss -->
<div class="modal fade" id="editoptionss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование свойств опций</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="editoptionsForm" class="form-horizontal span8" action="{{ url_for('edit_option') }}" method="post">
                    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Вид поля</div>
							<select class="form-control" id="changeoption_type" name="option_type">
							<option disabled>Вид поля</option>
							<option value="dict">Dict</option>
							<option value="date">Date</option>
							<option value="input">Input</option>
							<option value="login">Login</option>
							<option value="textarea">Textarea</option>
							</select>
						</div>
					</div>
					<div id="fields"></div>
					<div id="selecttypediv"></div> <!-- Рисуем динамические поля -->
                    <div id="editoptionstype"></div>
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('editoptionsForm').submit();"> Сохранить</button>
      </div>
    </div>
  </div>
</div>
</div>
     <!-- Modal edit optionss-->


  </div>
</div>

<script> //addtype
$('#addType').on('hidden.bs.modal', function (e) {
$('#selectoption').empty();
$('#availableloption').empty();
});

$('#addType').on('show.bs.modal', function (e) {
 $(function(){
                $.getJSON('{{ url_for('get_list_option') }}', function(data) {
				$('#selectoption').append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Опции</div><select class="form-control" id="list_of_options" name="list_of_options"></select>');
                $('#availableloption').append('<select multiple class="form-control" id="listofavailableloption" name="options"></select>');
				for(var i in data) { 
                    $('#list_of_options').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                                                };  
                                                                           });
				$('#list_of_options').change(function(){ 
				//
				});
                
				$('#addoptiontotypebtn').click(function() {
				var sellectedoption = $('#list_of_options option:selected').val();
				var sellectedoptiontext = $('#list_of_options option:selected').text();
				$('#listofavailableloption').append('<option value='+sellectedoption+'>'+sellectedoptiontext+'</option></select>');
				})
				function addoptiontotype(val){
				
				}; 
                        });

});
</script> 






<script> //edit option view
$('#editoptionss').on('show.bs.modal', function (e) {
   
  $('#editoptionss').on('hidden.bs.modal', function (e) {
  $( "#selecttypediv" ).empty();
  $( "#editoptionstype" ).empty();
  $( "#fields" ).empty();
 // очищаем DOM дерево предыдущих полей ввода -->
});


	//var id; id опции
    var select_visible;
    var select_frontpage; <!-- Временные переменные -->

    $(function(){
                $.getJSON('{{ url_for('get_list_option') }}?&opt_id='+c_id+'', function(obji) {
                for ( var i in obji) { 
                var dict_id_value = obji[i].dict_id;
                drawoptionsview(obji[i].option_type,obji[i].dict_id); // выполняем функцию отрисовки
    
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Название</div><input type="text" class="form-control" id="'+obji[i].type_id+'" name="name"  placeholder="'+obji[i].name+'" value="'+obji[i].name+'" required=""></div>'); //name=name
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Описание</div><input type="text" class="form-control" id="description" name="description" value="'+obji[i].description+'" required=""></div>'); //description=description.
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Показывать пользователю?</div><select class="form-control" id="user_visible" name="user_visible"><option disabled>Справочник</option><option value="1">Да</option><option value="0">Нет</option></select>');
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Показывать на главной?</div><select class="form-control" id="front_page_visible" name="front_page_visible"><option disabled>Справочник</option><option value="1">Да</option><option value="0">Нет</option></select>');
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Обязательно к заполнению?</div><select class="form-control" id="required" name="required"><option disabled>Справочник</option><option value="1">Да</option><option value="0">Нет</option></select>');
        $("#user_visible").val(obji[i].user_visible);
        $("#front_page_visible").val(obji[i].front_page_visible);
        $("#required").val(obji[i].required);
    }; //endFor

    function drawoptionsview(opt_tp,dict_id_value) {
    if (opt_tp == undefined || opt_tp == "input" ) { // ничего или input то установить как input
		opt_tp = "input"; // присвоить тип как Input
		$("#changeoption_type").val(opt_tp); // выбрать в меню input
	} else { 
            $("#changeoption_type").val(opt_tp); 
                }; //или если 
	
    if (opt_tp == "dict") {
        $("#editoptionstype").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dict_list_id" name="dict_id"><option disabled>Справочник</option></select>'); //name=dict_id, 
        $(function(){
            $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
            var i = -1;
            $.each(data, function(id, name) { 
                i=i+1;
                $('#dict_list_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                });  
                });
            
                });
        $('#dict_list_id').val(dict_id_value);
       };
       }; //end func
       
       $('#changeoption_type').change(function(){  //выбор вида опции
        $( "#editoptionstype" ).empty(); //чистим контейнер
        var sellectedtype = $('#changeoption_type option:selected').val();  // если изменили вид опции то ...
        
        if (sellectedtype == "dict") {
            $("#editoptionstype").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dict_list_id" name="dict_id"><option disabled>Выбрать</option></select>');
            $(function(){
                $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
                for(var i in data) { 
                    $('#dict_list_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                                                };  
                                                                           });
                    $("#dict_list_id").val(dict_id_value);
                        });
                    };  
            $("#editoptionstype").append('<div><input type="hidden" name="id" value='+c_id+'></div>');
            
        }); //endChangefunction
    
    }); //endgetjson
	$("#editoptionstype").append('<div><input type="hidden" name="id" value='+c_id+'></div>');
    });
    });
    
           
</script>



 
<br>
<!-- отрисовываем табличку-->
<div class="container-fluid">
    <div class="row">
    <div class="col-md-10">

    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Типы ресурсов</h3></caption>    
    <tr class="active">
    {% for cols_name in type_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}
    </tr>
    {% for entry in type_cols %}
        <tr>
        {% for cell in entry %}
            <td>
                <a href="#" id="{{ entry.id }}" onclick=edit_type(id)>{{ cell }}</a>
            </td>
        {% endfor %}
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="/del_type/{{ entry.id }}"></a></td>
            <td>
            <form action="{{ url_for('import_csv', type_id=entry.id ) }}" method=post enctype=multipart/form-data>
              <input type="file" name="file">
              <button class="glyphicon glyphicon-upload" type="submit" value="Загрузить"> CSV</button>
              <i><b>формат CSV</b>: Unix Format, UTF-8, разделитель ","</i>
            </form>
            <td><a class="glyphicon glyphicon-open" href="{{ url_for('export_csv', typename=entry.name) }}"  target="_blank"> Экспорт данных</a></td>
            <td><a class="glyphicon glyphicon-fire" href="{{ url_for('clear_type', id=entry.id) }}"></a><span class="badge pull-right">{{ type_count[entry.id] }}</span></td></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
<br>
    
    
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Опции типов</h3></caption>
    <tr class="active">
    {% for cols_name in option_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in option_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="/del_option/{{ entry.id }}"></a></td>
            <td nowrap="nowrap"><a class="glyphicon glyphicon-wrench" onClick="edit_option_view({{ entry.id }})" href="#"></a></td></td>
            <td nowrap="nowrap"><a class="glyphicon glyphicon-fire" href="{{ url_for('clear_option', id=entry.id) }}"></a><span class="badge pull-right">{{ opt_count[entry.id] }}</span></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    
<br>

    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Справочники (схема)</h3></caption>
    <tr class="active">
    {% for cols_name in dict_s_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}
    </tr>
    {% for entry in dict_s %}
        <tr>
        {% for cell in entry %}
                <td>
                    {{ cell }}
                </td>
        {% endfor %}
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="{{ url_for('del_dict_s', id=entry.id) }}"></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Справочники</h3></caption>
    <tr class="active">
    {% for cols_name in dict_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in dict_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
        
            <td><a class="glyphicon glyphicon-remove" href="{{ url_for('del_dict', id=entry.val_id) }}"></a></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    
<br>
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Пользователи</h3></caption>
    <tr class="active">
    {% for cols_name in user_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in user_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="/del_user/{{ entry.id }}"></a></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    
    
        </div>
    </div>
</div>
<!-- отрисовываем табличку-->


</body>
  {% endif %}
{% endblock %}