{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<div class="container-fluid">
	<div class="row"> <div class="col-xs-12 col-sm-6 col-md-8">

    <!-- Modal addDict -->
<div class="modal fade" id="addDict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление нового типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="adddictform" action="{{ url_for('new_dict') }}" method="post">
				    <input type="text" class="form-control" placeholder="Введите имя справочника" id="enterdictname" name="name" autocomplete="off" /> <br>
				</form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('adddictform').submit();">Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->

        <!-- Modal editDict -->
<div class="modal fade" id="editDict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование справочника</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="editdictform" action="{{ url_for('new_dict') }}" method="post">
				    <div id="dictname"></div>
                    
                    <div id="dictfields"></div>
				</form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  id="add_new_dict_val" >Добавить поле</button>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('editdictform').submit();">Сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal editDict -->
    
    
    
    
    
    <!-- Modal edittype -->
<div class="modal " id="editType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="edittypeForm" action="{{ url_for('edit_type') }}" method="post">
				<div id="typelistfields"></div>
                <div id="drawoptions"></div>
                <div id="drawpos"></div>
                <div id="divwf"></div>
                </form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn" id="delOption"> Del </button>
        <button type="button"  class="btn btn-error" id="addOption"> Add </button>
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('edittypeForm').submit();">Сохранить</button>
		
      </div>
    </div>
  </div>
</div>
    <!-- Modal edittype -->

    <!-- Modal addType -->
<div class="modal " id="addType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление нового типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addtypeform" action="{{ url_for('new_type') }}" method="post">
				    <input type="text" class="form-control" placeholder="Введите новый тип" name="name" autocomplete="off" />
                </form>
			</div>	
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal" >Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addtypeform').submit();">Добавить и сохранить</button>
		
      </div>
    </div>
  </div>
</div>
    <!-- Modal addType -->
    
        <!-- Modal addUser -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить новую опцию у типа</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="addUserForm" action="{{ url_for('new_user') }}" method="post">
                    <input type="text" class="form-control" placeholder="Введите login" name="login" autocomplete="off" /> 
                    <input type="text" class="form-control" placeholder="Введите ФИО" name="full_name" autocomplete="off" /> 
                    <input type="email" class="form-control" placeholder="Введите e-mail" name="email" autocomplete="off" /> 
                    <input type="password" class="form-control" placeholder="Введите пароль" name="password" autocomplete="off" />
                    <button type="submit"  class="btn hide" />
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('addUserForm').submit();"> Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addUser -->

	<!-- Modal edit optionss -->
<div class="modal fade" id="editoptionss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование свойств опций</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
                <form id="editoptionsForm" class="form-horizontal span8" action="{{ url_for('edit_option') }}" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Вид поля</div>
                            <select class="form-control" id="changeoption_type" name="option_type">
                            <option disabled>Вид поля</option>
                            <option value="dict">Dict</option>
                            <option value="date">Date</option>
                            <option value="input">Input</option>
                            <option value="login">Login</option>
                            <option value="textarea">Textarea</option>
                            </select>
                        </div>
                    </div>
                    <div id="fields"></div>
                    <div id="selecttypediv"></div> <!-- Рисуем динамические поля -->
                    <div id="editoptionstype"></div>
                </form>
            </div>
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('editoptionsForm').submit();"> Сохранить</button>
      </div>
    </div>
  </div>
</div>
</div>
     <!-- Modal edit optionss-->


  </div>
</div>

<script> //editDict
    $('#editDict').on('hidden.bs.modal', function (e) {
    $("#dictname").empty();
    $("#dictfields").empty();
    });
    
    $('#editDict').on('show.bs.modal', function (e) {
    
    $.getJSON('{{ url_for('get_list_dict') }}?dict_id='+clicked_dict_id+'', function(data) {
                $("#dictname").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Имя справочника</div><input type="text" class="form-control" name="name" value="'+data[0].name+'" required=""></div>')
                $("#dictname").append('<input type="text" class="hidden" name="dicts" value="'+data[0].id+'" required=""></div>')
                for (var i in data) { 
                $("#enterdictname").val(data[i].name);
                if (data[i].value !== undefined) { 
                $("#dictfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Значение</div><input type="text" class="form-control" id="'+data[i].val_id+'" name="id'+data[i].val_id+'" value="'+data[i].value+'" required=""></div>');
                }
    }
    });
    
    });
    
    $("#add_new_dict_val").click(function() {
    $("#dictfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Значение</div><input type="text" class="form-control"  name="new" value="" required=""></div>');
    });
    </script>

<script> //addtype
$('#addType').on('hidden.bs.modal', function (e) {
$('#selectoption').empty();
$('#availableloption').empty();
});

$('#addType').on('show.bs.modal', function (e) {
 $(function(){
                $.getJSON('{{ url_for('get_list_option') }}', function(data) {
				$('#selectoption').append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Опции</div><select class="form-control" id="list_of_options" name="list_of_options"></select>');
                $('#availableloption').append('<select multiple class="form-control" id="listofavailableloption" name="options"></select>');
				for(var i in data) { 
                    $('#list_of_options').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                                                };  
                                                                           });
				$('#list_of_options').change(function(){ 
				//
				});
                
				$('#addoptiontotypebtn').click(function() {
				var sellectedoption = $('#list_of_options option:selected').val();
				var sellectedoptiontext = $('#list_of_options option:selected').text();
				$('#listofavailableloption').append('<option value='+sellectedoption+'>'+sellectedoptiontext+'</option></select>');
				})
				function addoptiontotype(val){
				
				}; 
                        });

});
</script> 

<script>// edit type and options
$('#editType').on('hidden.bs.modal', function (e) {
$("#typelistfields").empty();
$("#divwf").empty();
 });

 var wf_val;
$('#editType').on('show.bs.modal', function (e) {
$(function(){
            $.getJSON('{{ url_for('get_list_type') }}'+clicked_type_id+'', function(data) {
                $("#typelistfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Имя</div><input type="text" class="form-control" id="description" name="name" value="'+data[0].name+'" required=""></div>');
                $("#typelistfields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Описание</div><input type="text" class="form-control" id="description" name="desc" value="'+data[0].desc+'" required=""></div>');
                wf_val = data[0].workflow;
                });
                $("#divwf").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">WorkFlow</div><select class="form-control" id="workflow" name="workflow"><option>None</option></select></div>');
                $.getJSON('{{ url_for('get_list_wf') }}', function(data) {
                  for ( var i in data) {
                  $('#workflow').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }
                  $('#workflow').val(wf_val);
                });
                drawavailableoptions();

                function drawavailableoptions () {
                 $("#drawoptions").empty();
                 $.getJSON('{{ url_for('get_list_option') }}?type='+clicked_type_id+'', function(data) {
                  $('#drawoptions').append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Выбранные опции</div><select multiple class="form-control" id="available_options" ></select>');
                 for(var i in data) { 
                    $('#available_options').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        };  
                    });
                    } //endfunc

                drawpossibleoptions ()
                function drawpossibleoptions () {
                $("#drawpos").empty();
                 $.getJSON('{{ url_for('get_list_option') }}?filter='+clicked_type_id+'', function(data) {
				$('#drawpos').append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Доступны к добавлению</div><select  class="form-control" id="possible_options" ></select>');
                for(var i in data) { 
                    $('#possible_options').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                                                };  
                                                                           });
                }

                $("#addOption").click(function() { //add option
                var selvar=$('#possible_options option:selected').val();
                    $.get( '{{ url_for('edit_type') }}?action=add_opt&id='+clicked_type_id+'&option_id='+selvar+'', function( data ) {
                    $("#drawoptions").empty(); //clear
                    drawavailableoptions(); //draw
					drawpossibleoptions (); //redraw possible options
                    });
                });
                
                $("#delOption").click(function() { //del option
                var availvar=$('#available_options option:selected').val();
                    $.get( '{{ url_for('edit_type') }}?action=del_opt&id='+clicked_type_id+'&option_id='+availvar+'', function( data ) {
                    $("#drawoptions").empty(); //clear
                    drawavailableoptions(); //draw
                    });
                });

                $("#typelistfields").append('<input class="hidden" name="id" value="'+clicked_type_id+'">');
                });
                }); //end edit type
</script>


<script> //edit option view
$('#editoptionss').on('show.bs.modal', function (e) {
   
  $('#editoptionss').on('hidden.bs.modal', function (e) {
  $( "#selecttypediv" ).empty();
  $( "#editoptionstype" ).empty();
  $( "#fields" ).empty();
});



    var select_visible;
    var select_frontpage;

    $(function(){
                $.getJSON('{{ url_for('get_list_option') }}?&opt_id='+c_id+'', function(obji) {
                for ( var i in obji) { 
                var dict_id_value = obji[i].dict_id;
                drawoptionsview(obji[i].option_type,obji[i].dict_id);
    
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Название</div><input type="text" class="form-control" id="'+obji[i].type_id+'" name="name"  placeholder="'+obji[i].name+'" value="'+obji[i].name+'" required=""></div>'); //name=name
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Описание</div><input type="text" class="form-control" id="description" name="description" value="'+obji[i].description+'" required=""></div>'); //description=description.
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Показывать пользователю?</div><select class="form-control" id="user_visible" name="user_visible"><option disabled>Справочник</option><option value="1">Да</option><option value="0">Нет</option></select>');
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Показывать на главной?</div><select class="form-control" id="front_page_visible" name="front_page_visible"><option disabled>Справочник</option><option value="1">Да</option><option value="0">Нет</option></select>');
    $("#fields").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Обязательно к заполнению?</div><select class="form-control" id="required" name="required"><option disabled>Справочник</option><option value="1">Да</option><option value="0">Нет</option></select>');
        $("#user_visible").val(obji[i].user_visible);
        $("#front_page_visible").val(obji[i].front_page_visible);
        $("#required").val(obji[i].required);
    }; //endFor

    function drawoptionsview(opt_tp,dict_id_value) {
    if (opt_tp == undefined || opt_tp == "input" ) { // is nothing or input set input
		opt_tp = "input"; 
		$("#changeoption_type").val(opt_tp);
	} else { 
            $("#changeoption_type").val(opt_tp); 
                };
	
    if (opt_tp == "dict") {
        $("#editoptionstype").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dict_list_id" name="dict_id"><option disabled>Справочник</option></select>'); //name=dict_id, 
        $(function(){
            $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
            for (var i in data){ 
                $('#dict_list_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                } 
                });
            
                });
        $('#dict_list_id').val(dict_id_value);
       };
       }; //end func
       
       $('#changeoption_type').change(function(){  //on change option
        $( "#editoptionstype" ).empty();
        var sellectedtype = $('#changeoption_type option:selected').val();  //on change
        
        if (sellectedtype == "dict") {
            $("#editoptionstype").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">Справочник</div><select class="form-control" id="dict_list_id" name="dict_id"><option disabled>Выбрать</option></select>');
            $(function(){
                $.getJSON('{{ url_for('get_list_dict') }}', function(data) {
                for(var i in data) { 
                    $('#dict_list_id').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                                                };  
                                                                           });
                    $("#dict_list_id").val(dict_id_value);
                        });
                    };  
            $("#editoptionstype").append('<div><input type="hidden" name="id" value='+c_id+'></div>');
            
        }); //endChangefunction
    
    }); //endgetjson
	$("#editoptionstype").append('<div><input type="hidden" name="id" value='+c_id+'></div>');
    });
    });
    
           
</script>

<script> //подставляет якорь в адрес, работают вкладки tab
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
</script>


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#typetab" aria-controls="typetab" role="tab" data-toggle="tab">Типы ресурсов</a></li>
    <li role="presentation"><a href="#opttab" aria-controls="opttab" role="tab" data-toggle="tab">Опции типов</a></li>
    <li role="presentation"><a href="#dicttab" aria-controls="dicttab" role="tab" data-toggle="tab">Справочники</a></li>
    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Пользователи</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="typetab">
    
    <button class="btn btn btn-default" data-toggle="modal" data-target="#addType">
		<span class="glyphicon glyphicon-plus"></span> Тип
	</button>
    
    
<table class="table table-bordered table-hover table-condensed">
    <caption><h3>Типы ресурсов</h3></caption>    
    <tr class="active">
    {% for cols_name in type_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}
    </tr>
    {% for entry in type_cols %}
        <tr>
        {% for cell in entry %}
            <td>
                <a href="#" id="{{ entry.id }}" onclick=edit_type(id)>{{ cell }}</a>
            </td>
        {% endfor %}
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="/del_type/{{ entry.id }}"></a></td>
            <td>
            <form action="{{ url_for('import_csv', type_id=entry.id ) }}" method=post enctype=multipart/form-data>
              <input type="file" name="file">
              <button class="glyphicon glyphicon-upload" type="submit" value="Загрузить"> CSV</button>
              <i><b>формат CSV</b>: Unix Format, UTF-8, разделитель ","</i>
            </form>
            <td><a class="glyphicon glyphicon-save" href="{{ url_for('export_csv', typename=entry.name) }}"  target="_blank"> Экспорт данных</a></td>
            <td><a class="glyphicon glyphicon-fire" href="{{ url_for('clear_type', id=entry.id) }}"></a><span class="badge pull-right">{{ type_count[entry.id] }}</span></td></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    </div>
    
<div role="tabpanel" class="tab-pane" id="opttab">
    <button class="btn btn btn-default"  onClick="edit_option_view('new')">
		<span class="glyphicon glyphicon-plus"></span> Добавить опцию
	</button>
    
        <table class="table table-bordered table-hover table-condensed">
        <caption><h3>Опции типов</h3></caption>
        <tr class="active">
        {% for cols_name in option_cols_names %}
            <th><center><b>{{ cols_name }}</b></center></th>
        {% endfor %}
        </tr>
        {% for entry in option_cols %}
            <tr>
            {% set k=0 %}
            {% for cell in entry %}
                    <td>
                        <a onClick="edit_option_view({{ entry.id }})" href="#">{{ cell }}</a>
                    </td>
            {% endfor %}
            {% if session.logged_in %}
                <td><a class="glyphicon glyphicon-remove" href="/del_option/{{ entry.id }}"></a></td>
                <td nowrap="nowrap"><a class="glyphicon glyphicon-wrench" onClick="edit_option_view({{ entry.id }})" href="#"></a></td></td>
                <td nowrap="nowrap"><a class="glyphicon glyphicon-fire" href="{{ url_for('clear_option', id=entry.id) }}"></a><span class="badge pull-right">{{ opt_count[entry.id] }}</span></td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
    </div>
    
<div role="tabpanel" class="tab-pane" id="dicttab">
    <button class="btn btn btn-default" data-toggle="modal" data-target="#addDict">
        <span class="glyphicon glyphicon-plus"></span> Справочник
    </button>
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Справочники (схема)</h3></caption>
    <tr class="active">
    {% for cols_name in dict_s_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}
    </tr>
    {% for entry in dict_s %}
        <tr>
        {% for cell in entry %}
                <td>
                    <a href="#" onClick="edit_dict({{entry.id}});">{{ cell }}</a>
                </td>
        {% endfor %}
        {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="{{ url_for('del_dict_s', id=entry.id) }}"></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Справочники</h3></caption>
    <tr class="active">
    {% for cols_name in dict_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}

    </tr>
        
    {% for entry in dict_cols %}
        <tr>
        {% set k=0 %}

        {% for cell in entry %}

                <td>
                    {{ cell }}
                </td>

        {% endfor %}
        
        {% if session.logged_in %}
        
            <td><a class="glyphicon glyphicon-remove" href="{{ url_for('del_dict', id=entry.val_id) }}"></a></td>
        {% endif %}

    </tr>
    {% endfor %}
    </table>
    </div>
    
    
<div role="tabpanel" class="tab-pane" id="users">
    <button class="btn btn btn-default" data-toggle="modal" data-target="#addUser">
        <span class="glyphicon glyphicon-plus"></span> Пользователь
    </button>
    <table class="table table-bordered table-hover table-condensed">
    <caption><h3>Пользователи</h3></caption>
    <tr class="active">
    {% for cols_name in user_cols_names %}
        <th><center><b>{{ cols_name }}</b></center></th>
    {% endfor %}
    </tr>  
    {% for entry in user_cols %}
        <tr>
        {% set k=0 %}
        {% for cell in entry %}
                <td>
                    {{ cell }}
                </td>
        {% endfor %}
            {% if session.logged_in %}
            <td><a class="glyphicon glyphicon-remove" href="/del_user/{{ entry.id }}"></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    </div>
  </div>

</div>





</body>
  {% endif %}
{% endblock %}