<!doctype html>
<html lang="ru">
<title>CMDB</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" "> <!-- Адаптация для мобильных -->
<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.11.2/jquery-ui.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.11.2/jquery-ui.min.css') }}">

<script src="{{ url_for('static', filename='dynatable/jquery.dynatable.js') }}"></script> <!-- Отрисовка таблиц -->
<link rel="stylesheet" href="{{ url_for('static', filename='dynatable/jquery.dynatable.css') }}"> <!-- Отрисовка таблиц стилей -->

<script src="{{ url_for('static', filename='js/emailautocomplite.js') }}"></script> <!-- Автодополнение e-mail -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script> <!-- App -->

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> <!-- Тема bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.js') }}"></script>
<body>

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  
  <div class="container-fluid"  > 
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span><!--Полоски на кноке-->
    <span class="icon-bar"></span><!--Полоски на кноке-->
    <span class="icon-bar"></span><!--Полоски на кноке-->
  </button>
  </div>
  
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-brand" >CMDB</li>
        <li class="dropdown" style="width:300px;" >
          {% if typename %}
            <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <b >Мои ресурсы: {{ typename }}</b>&nbsp;<span class="badge pull-right"></span></a>
          {% else %}
            <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <b>Мои ресурсы</b><span class="caret"></span>&nbsp;<span class="badge pull-right"></span></a>
          {% endif %}
          <ul class="dropdown-menu" id ="dropMenu" role="menu">
          </ul>
        </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="name" type="search" class="form-control " placeholder="Поиск" > <!-- http://forum.jquery.com/topic/pasrsing-json-data-for-autocomplete -->
            </div>
        <button type="submit" class="btn hide"></button>
        </form>
        
        <ul class="nav navbar-nav navbar-right">
            <a class="btn btn-success navbar-btn" role="button" data-toggle="modal" data-target="#addTicket"><span class="glyphicon glyphicon-plus"></span>&nbsp;Новая заявка</a>
            <a href="{{ url_for('control') }}" class="btn btn-info navbar-btn" role="button"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Панель управления</a>
            &nbsp;
            <a href="{{ url_for('logout') }}" class="btn btn-default navbar-btn" role="button"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{{ session.login }}</a>
            <a href="#" class="btn btn-default navbar-btn" role="button" data-toggle="modal" data-target="#about"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;
        </ul>
		</div>
    </div>
  </nav>
 
 
 
 <!-- Modal addTicket -->
<div class="modal fade" id="addTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить новый ресурс</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form name="Ticketform" id="addTicket" action="{{ url_for('newres') }}" method="post">
                    <select class="form-control" id="type_id_ticket" name="type_id">
						<option disabled>Тип</option>
                    </select><br>
                    <div id="inputs">
                    <script>
                    
					</script>
                    
                    </div>
                    <button type="submit"  class="btn hide">
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit" id="addticketsubmit" class="btn btn-primary" > Добавить и сохранить</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addTicket -->

        <!-- Modal edit item -->
<div class="modal" id="editItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование item</h4>
		<input type="text" class="form-control login" placeholder="email" id="eml" name="email" autocomplete="off" /> <br>
      
	  </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="editItemForm" class="form-horizontal span8" action="{{ url_for('editres') }}" method="post">
                    <div id="itemOption"> <!-- Рисуем динамические поля -->
					
					
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('editItemForm').submit();"> Сохранить</button>
      </div>
    </div>
  </div>
</div>
</div>
     <!-- Modal edit item -->
     
     
     <!-- Modal about -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="aboutlabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="aboutlabel">О системе</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-8" >
             <b><u>C</u>onfiguration <u>M</u>anagement <u>D</u>ata<u>B</u>ase</b><br>
             База данных управления конфигурации
             <br><br>
             Версия: <b>v 0.0.1</b>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal about -->


    
<script> // Отрисовка меню ресурсов
 $(function(){
$.getJSON('{{ url_for('get_user_menu') }}', function(menulist) {
	for ( var i in menulist) {
	$('#dropMenu').prepend('<li><a href="{{ url_for('index') }}list/'+menulist[i].name+'"><b>'+menulist[i].name + '</b>&nbsp;&nbsp;<span class="badge pull-right">'+menulist[i].value + '</span></a></li>');
	  };
		});
		  });
</script>


<script> // Редактирование итема вызов чере edit_item(hashofitem);
$('#editItem').on('show.bs.modal.bs.modal', function (e) {

    $('#editItem').on('hidden.bs.modal', function (e) {
  $( "#itemOption" ).empty(); // очищаем DOM дерево предыдущих полей ввода -->
})
    
    var c_opt_id;
    var c_opttype;
    var c_name;
    var c_value;
	var c_uuid;
	var c_dict_id;
    $(function(){
                $.getJSON('{{ url_for('export_json') }}?uuid='+uuid+'', function(objj) {
                var obj = []; 
                obj = objj[0]; // в каждом массиве приходит ещё один массив, данные лежат в массиве с индексом 0 -->
                for ( var i in obj) { jQuery.each(obj[i], function(key, val) {
            if  (key == "opt_id" ) { c_opt_id = val };
            if  (key == "opttype" ) { c_opttype = val};
            if  (key == "name" ) { c_name = val};
            if  (key == "value" ) { c_value = val};  
			if  (key == "uuid" ) { c_uuid = val};
			if  (key == "dict_id" ) { c_dict_id = val};
			
			});
            
    if (c_opttype == undefined || c_opttype == "input" ) {
    $("#itemOption").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">'+c_name+'</div><input type="text" class="form-control" id="'+c_opt_id+'" name="id'+c_opt_id+'"  placeholder="'+c_name+'" value="'+c_value+'" required=""></div></div>'); 
    };
    
	if (c_opttype == "date") { 
    $("#itemOption").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">'+c_name+'</div><input type="date" class="form-control" id="'+c_opt_id+'" name="id'+c_opt_id+'"  placeholder="'+c_name+'" value="'+c_value+'" required=""></div></div>'); 
    };
	
	if (c_opttype == "login") { 
    $("#itemOption").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">'+c_name+'</div><input type="text" class="form-control login" id="'+c_opt_id+'" name="id'+c_opt_id+'"  placeholder="'+c_name+'" value="'+c_value+'" required=""></div></div>'); 
    };
	
	
	if (c_opttype == "dict") {
	var newoptid = c_opt_id;
	var arrayvalue = c_value;
    $("#itemOption").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">'+c_name+'</div><select class="form-control" id="selid'+newoptid+'" name="id'+newoptid+'"><option disabled>Справочник</option></select>'); 
	$(function(){
                $.getJSON('{{ url_for('get_list_dict') }}?&dict_id='+c_dict_id+'', function(dict_array) { 
                for ( var i in dict_array) { //выборка в dict_array
                    $('#selid'+(newoptid)+'').append('<option value="'+ dict_array[i].val_id + '">' + dict_array[i].value + '</option>');
					$('#selid'+(newoptid)+'').val(arrayvalue); 
                    } //end for
					}); //end getJson
                    }); //end func
	}; //end dict if
	
	
   
	
    };
	$("#itemOption").append('<div><input type="hidden" name="uuid" value='+uuid+'></div>');
    $("#itemOption").prepend('<div class="form-group"><div class="input-group"><div class="input-group-addon">Ссылка</div><input type="text" class="form-control" value="http://cmdb.at-consulting.ru/?hash='+uuid+'"></div>');
    });
    });
});  

$("#editItemForm").click(function() //кнопка отправки формы
        {
        $("form[name='editItemForm']").submit();
        });
        
</script>



<script> //добавить новый тикет - переделать!
$('#addTicket').on('show.bs.modal.bs.modal', function (e) {
$(function(){
								$.getJSON('{{ url_for('get_list_type') }}', function(data) {
								  var i = -1;
									$.each(data, function(id, name) { 
									   i=i+1;
										$('#type_id_ticket').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
										});  
                                            });
                                        });

                    $('#type_id_ticket').change(function(){                                //подгрузка опций для типа
                                          var sellectedtype = $('#type_id_ticket option:selected').val();  // если выбран тип (изменён), то подгружаем нужные опции
                                            $( "#inputs" ).empty();                                 //очищаем контейнер от предыдущих объектов
                                            $(function(){                                           //сама функция подгрузки опций
                                                $.getJSON('{{ url_for('get_list_option') }}?type='+sellectedtype+'', function(data) {
                                                    var i = -1;
                                                $.each(data, function(id, name) {  // отрисовка полей вввода
                                                    i=i+1;
                                                        $('#inputs').append('<div><input type="text" class="form-control" name="id' + data[i].id + '" placeholder="' + data[i].name + '" value="'+'" required=""/></div>');
                                                        

                                                          });  
                                                        });
                                                       });
                                           }); //Конец функции выбора типа
});  

$("#addticketsubmit").click(function() //подтверждение отправки данных
        {
        $("form[name='Ticketform']").submit();
        });
        
</script>

<script> //живой поиск  http://stackoverflow.com/questions/19440428/jquery-catching-click-event-on-jquery-ui-autocomplete
$( "#name" ).autocomplete({
      source: function(request, response){
        // «апрос 
        $.ajax({
          url: '{{ url_for('search') }}',
          dataType: "json",
          // параметры запроса, передаваемые на сервер (последний - подстрока дл¤ поиска):
          data:{
            term: request.term
          },
          // обработка успешного выполнени¤ запроса
          success: function(data){
            // приведем полученные данные к необходимому формату и передадим в предоставленную функцию response.
            response($.map(data, function(item){
              return{
                label: item.type+'| '+item.opt+' '+item.value, // label это надпись в списке, ей присваиваем параметр из name.
                value: item.hash  // value значение которое присвоится полю ввода из ключа hash в json.
              }
			  
            }));
          }
          
          
        });
      },
      select: function (event, ui) {
              var thisuuid = ui.item.value;
              edit_item(thisuuid);        //  магия! если нажать на элемент меню откроется редактирование элемента
    },
      
      
      minLength: 1 // минимальна¤ длина запроса для выполнени¤ поиска.
    }); 
</script>


<script> //живой поиск  по email http://stackoverflow.com/questions/19440428/jquery-catching-click-event-on-jquery-ui-autocomplete
$('.login').autocomplete({
      source: function(request, response){
        // «апрос 
        $.ajax({
          url: '{{ url_for('get_list_user_ldap') }}',
          dataType: "json",
          // параметры запроса, передаваемые на сервер (последний - подстрока дл¤ поиска):
          data:{
            term: request.term
          },
          // обработка успешного выполнени¤ запроса
          success: function(data){
            // приведем полученные данные к необходимому формату и передадим в предоставленную функцию response.
            response($.map(data, function(item){
              return{
                label: item.fio+'| '+item.login+' '+item.email, // label это надпись в списке, ей присваиваем параметр из name.
                value: item.email  // value значение которое присвоится полю ввода из ключа hash в json.
              }
            }));
          }
        });
      },
      select: function (event, ui) {
              var thisuuid = ui.item.value;
              edit_item(thisuuid);        //  магия! если нажать на элемент меню откроется редактирование элемента
    },
      minLength: 1 // минимальна¤ длина запроса для выполнени¤ поиска.
    }); 
</script>

  <div class="container-fluid"> 
   {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% endfor %}
  </div>
  
<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-md-10">
{% block bady2 %}{% endblock %}

{% block body %}{% endblock %}
    </div>
    </div>
</div>


  <!--<nav class="navbar navbar-default navbar-fixed-bottom " role="navigation"> -->

  <!--</nav>-->
  

<br>
<br>
</body>
</html>
