<!doctype html>
<html lang="ru">
<title>CMDB</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" "> <!-- Адаптация для мобильных -->
<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="{{ url_for('static', filename='dynatable/jquery.dynatable.js') }}"></script> <!-- Отрисовка таблиц -->
<link rel="stylesheet" href="{{ url_for('static', filename='dynatable/jquery.dynatable.css') }}"> <!-- Отрисовка таблиц стилей -->

<script src="{{ url_for('static', filename='js/emailautocomplite.js') }}"></script> <!-- Автодополнение e-mail -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> <!-- Тема bootstrap -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.js') }}"></script>
<body>

  <nav class="navbar navbar-default navbar-fixed-top " role="navigation"> 
  <div class="container-fluid"> 
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span><!--Полоски на кноке-->
    <span class="icon-bar"></span><!--Полоски на кноке-->
    <span class="icon-bar"></span><!--Полоски на кноке-->
  </button>
  </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-brand">CMDB</li>
        <li class="dropdown">
          {% if typename %}
            <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <b>Мои ресурсы: {{ typename }}</b>&nbsp;<span class="badge pull-right">4</span></a>
          {% else %}
            <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <b>Мои ресурсы</b><span class="caret"></span>&nbsp;<span class="badge pull-right">4</span></a>
          {% endif %}
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('index', typename='VPS') }}">VPS&nbsp;<span class="badge pull-right">3</span></a></li>
            <li><a href="{{ url_for('index', typename='Ticket') }}">Ticket</a></li>
            <li><a href="{{ url_for('index', typename='Phone') }}">Phone&nbsp;<span class="badge pull-right">1</span></a></li>
            <li class="divider"></li>
            <li><a href="#">И много другого</a></li>
          </ul>
        </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="name" type="text" class="form-control" placeholder="Поиск"> <!-- http://forum.jquery.com/topic/pasrsing-json-data-for-autocomplete -->
            </div>
        <button type="submit" class="btn hide"></button>
        </form>
        
        <ul class="nav navbar-nav navbar-right">
            <a class="btn btn-success navbar-btn" role="button" data-toggle="modal" data-target="#addTicket"><span class="glyphicon glyphicon-plus"></span>&nbsp;Новая заявка</a>
            <a href="{{ url_for('control') }}" class="btn btn-info navbar-btn" role="button"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Панель управления</a>
            &nbsp;
            <a href="{{ url_for('logout') }}" class="btn btn-default navbar-btn" role="button"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{{ session.login }}</a>
            <a href="#" class="btn btn-default navbar-btn" role="button"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;
        </ul>
		</div>
    </div>
  </nav>
 
 
 
 <!-- Modal addTicket -->
<div class="modal fade" id="addTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить новый ресурс</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form name="Ticketform" id="addTicket" action="{{ url_for('newres') }}" method="post">
                    <select class="form-control" id="type_id_ticket" name="type_id">
						<option disabled>Тип</option>
                    </select><br>
                    <div id="inputs">
                    <script>
                    $(function(){
								$.getJSON('http://cmdb.at-consulting.ru:5000/get_list_type/', function(data) {
								  var i = -1;
									$.each(data, function(id, name) { 
									   i=i+1;
										$('#type_id_ticket').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
										});  
                                            });
                                        });

                    $('#type_id_ticket').change(function(){                                //подгрузка опций для типа
                                          var sellectedtype = $('#type_id_ticket option:selected').val();  // если выбран тип (изменён), то подгружаем нужные опции
                                            $( "#inputs" ).empty();                                 //очищаем контейнер от предыдущих объектов
                                            $(function(){                                           //сама функция подгрузки опций
                                                $.getJSON('{{ url_for('get_list_option') }}?type='+sellectedtype+'', function(data) {
                                                    var i = -1;
                                                $.each(data, function(id, name) { 
                                                    i=i+1;
                                                        $('#inputs').append('<div><input type="text" class="form-control" name="id' + data[i].id + '" placeholder="' + data[i].name + '" value="'+'" required=""/></div>');

                                                          });  
                                                        });
                                                       });
                                           }); //Конец функции выбора типа
					</script>
                    
                    </div>
                    <button type="submit"  class="btn hide">
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit" id="addticketsubmit" class="btn btn-primary" > Добавить и сохранить</button>
        <script> 

$("#addticketsubmit").click(function()
    {
        $("form[name='Ticketform']").submit();
            });

$("#editItemForm").click(function()
    {
        $("form[name='editItemForm']").submit();
             });


        </script>
      </div>
    </div>
  </div>
</div>
    <!-- Modal addTicket -->

        <!-- Modal edit addOptions -->
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование item</h4>
      </div>
      <div class="modal-body">			
      	 <div class="container-fluid" >
      	 	<div class="col-lg-6" >
				<form id="editItemForm" class="form-horizontal span8" action="{{ url_for('new_option') }}" method="post">
                    
                    <div id="itemOption">
                    
						<script>

  
					</script>
				</form>
			</div>
    	</div> 
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" id="addbtn"> Добавить поле </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" onclick="document.getElementById('editItemForm').submit();"> Сохранить</button>
        
      </div>
    </div>
  </div>
</div>
</div>
    <!-- Modal addoptions -->
    
    
    
    
    
    
    <!-- Onload script -->
    <script>
    var uuid;
    function edit_item(clicked_id)
{   
    alert(clicked_id);
    uuid == clicked_id.toString();
    $('#editItem').modal("show");
};
    </script>
    
    
    
    
    
    <script>
    
$('#editItem').on('show.bs.modal.bs.modal', function (e) {
    
    var c_opt_id;
    var c_opttype;
    var c_name;
    var c_value;

    $(function(){
                $.getJSON('http://cmdb.at-consulting.ru:5000/list/VPS/?json&uuid='+uuid+'', function(objj) {
    var obj = [];
    obj = objj[0];
                for ( var i in obj) { jQuery.each(obj[i], function(key, val) {
            if  (key == "opt_id" ) { c_opt_id = val.toString(); };
            if  (key == "opttype" ) { c_oopttype = val.toString()};
            if  (key == "name" ) { c_name = val.toString()};
            if  (key == "value" ) { c_value = val.toString()};
                                                                                });
    $("#itemOption").append('<div class="form-group"><div class="input-group"><div class="input-group-addon">'+c_name+'</div><input type="text" class="form-control" id="'+c_opt_id+'" name="'+c_name+'"  placeholder="'+c_name+'" value="'+c_value+'" required=""></div></div>');     
    };
    });
    });
});                

</script>
<!--onload end -->
    
    
    
    
    
    
    
    
    
<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-md-10">
{% block body %}{% endblock %}
    </div>
    </div>
</div>


  <!--<nav class="navbar navbar-default navbar-fixed-bottom " role="navigation"> -->
  <div class="container-fluid"> 
   {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% endfor %}
  </div>
  <!--</nav>-->
  

<br>
<br>
</body>
</html>
