<!doctype html>
<html>
<title>CMDB</title>
<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{{ url_for('static', filename='sendform.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>

  <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url_for('index') }}"><b>cmdb.at-consulting.ru</b></a></li>
        </ul>
        <div class="container-fluid">        
        <ul class="nav navbar-nav navbar-right">

            <li><a href="{{ url_for('json') }}">json</a> </li>
            <li><a href="{{ url_for('control') }}">Control</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a> </li>
        </ul>
    </div>
  </nav>
 
<div class=page>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>

</body>
</html>