{% extends "layout_login.html" %}
{% block body %}
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <!-- /container -->
    <div class="container" >
    <form  class="form-signin" role="form" method="post" action="{{ url_for('login') }}" method=post>
<center><b> CMDB </b></center>
</br>
        <input name="username" type="text" class="form-control" placeholder="Email address" required="" autofocus=""> 
        <input name="password" type="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
    </div> 
    <!-- /container -->
{% endblock %}
