{% extends "layout.html" %}
{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#typetab" aria-controls="typetab" role="tab" data-toggle="tab">Типы ресурсов</a></li>
    <li role="presentation"><a href="#opttab" aria-controls="opttab" role="tab" data-toggle="tab">Опции типов</a></li>
    <li role="presentation"><a href="#dicttab" aria-controls="dicttab" role="tab" data-toggle="tab">Справочники</a></li>
    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Пользователи</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="typetab"></div>
    <div role="tabpanel" class="tab-pane" id="opttab"></div>
    <div role="tabpanel" class="tab-pane" id="dicttab"></div>
    <div role="tabpanel" class="tab-pane" id="users"></div>
  </div>

</div>


	

	
{% endblock %}